@model IEnumerable<ClothingStore.Model.Product>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dressi</title>
</head>

<body>
    <h1>@ViewBag.CurrentCategory</h1>

</body>

</html>